/* App.css */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ajusta el ancho del formulario según tus preferencias */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: rgb(182, 25, 25);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px; /* Espacio entre el último input y el botón */
  /* cursor: pointer; */
  font-size: 16px;
  /* transition: background-color 0.3s ease; */
}
/* 
 button:hover {
  background-color: #0056b3; 
} */
